*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container-fluid
{
    width: 100%;
}
/* SECTION-1 */
/* LOGO */

body::-webkit-scrollbar{
    display: none;
}
.right::-webkit-scrollbar{
    display: none;
}
.left
{
    width: 390px;
    height: 100vh;
    position: sticky;
    overflow: auto;
    left: 0%;
    background-color: #f8f9fa;
}
.left::-webkit-scrollbar{
    display: none;
}
#deep1{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 75px;
    background-color: #f8f9fa;
}
.img-1
{
    width: 60px;
    height: 60px;
}
.imge-1
{
    width: 160px;
    height: 35px;
    align-items: center;
}
.img-1 img
{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.list-1 ul li a
{
    color: grey;
    transition: all 0.2s;
}
.list-1 ul li a:hover{
    color: #4680FF;
}
.accordion-body ul li
{
    color: gray ;
    transition: all 0.10s;
}
.accordion-body ul li a
{
  color: gray;
  font-weight: 400;
}
.accordion-body ul li:hover
{
    color: #4680FF;
}
.body-card{
    margin-top: 50px;
}
.right
{
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    /* overflow: auto; */
    background-color: whitesmoke;
}
.menu i{
    position: relative;
    top: 0px ;
    left: 30px;
}
.menu input {
    padding-left: 30px;
}
.menu1 ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 10px;
}
.menu1 ul li{
    padding: 0px 10px;
    font-size: 20px;
    color: gray;
}
.menu1 ul li img{
    height: 40px;
    border-radius: 50%;
}
#deep{
    position: sticky;
    top: 0%;
    z-index: 999;
}
#sun{
    position: relative;
}
.fill{
    position: absolute;
    flex-direction: column;
    background-color: rgb(238, 230, 230);
    border-radius: 10px;
    right: 50%;
    height: 130px;
    width: 150px;
    visibility: hidden;
    transition: all 0.5s;
}
.fill li{
    margin-top: 10px;
    width: 100%;
    transition: all 0.5s;
}
.fill li:hover{
    background-color: white;
}
.fill li a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 17px;
    padding-right: 30px;
}
#sun:hover .fill{
    visibility: visible;
}
#set{
    position: relative;
}
.home{
    position: absolute;
    flex-direction: column;
    background-color: white;
    right: 50%;
    height: 230px;
    width: 200px;
    border-radius: 10px;
    visibility: hidden;
    transition: all 0.5s;
}
.home li{
    padding: 50px 0px;
    margin-top: 10px;
    margin-right: 30px;
    transition: all 0.5s;
}
.home li:hover{
    background-color: rgb(235, 233, 233);
}
.home li a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(80, 80, 80);
}
#set:hover .home{
    visibility: visible;
}
#on-3{
    border: 1px solid white;
    padding: 8px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.explore{
    margin: auto;
    border-radius: 14px;
}
.pro{
    width: 40%;
    height: 250px;
    
}
.pro a{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 7px 20px;
    transition: all 0.5s;
}
.pro a:hover{
    background-color: white;
    color: gray;
}
.pr{
    width: 100%;
}
.pro3{
    width: 100%;
}
.all{
    height: 300px;
    margin-left: 50px;
}
.all1{
    background-color: aqua;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart1{
    width: 70%;
    height: 200px;
    background-color: black;
}

.modal-body{
    overflow-y: scroll;
    height: 400px;
}
#offcanvasExample{
    width: 35%;
}
.able{
    border: 1px solid rgb(165, 165, 165);
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}
.able a{
    padding: 8px 130px;
    border: 1px solid gray;
    margin-left: 30px;
    border-radius: 20px;
    text-decoration: none;
    color: gray;
    transition: all 0.5s;
}
.able a:hover{
    background-color: gray;
    color: white;
}
.ui{
    border: 1px solid  gray;
    border-radius: 10px;
    padding-top: 10px;
    transition: all 0.5s;
}
.ui:hover{
    background-color: whitesmoke;
}
.decline{
    height: 50px;
}
.decline a{
    border: 1px solid gray;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 20px;
    color: gray;
    transition: all 0.5s;
}
.decline a:hover{
    background-color: gray;
    color: white;
}
/* #exampleModal1{
   width: 250px;
}  */
.darrin{
    height: 60px;
}
.darrin1 img{
    height: 50px;
    border-radius: 50%;
}
#check{
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
}
.not{
    margin-top: 20px;
}
.share{
    list-style: none;
    padding-left: 10px;
}
.share li{
    padding: 10px 0px;
    transition: all 0.5s;
}
.share li:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.group1{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.group img{
    height: 30px;
    border-radius: 50%;
}
#gr1{
    position: absolute;
    left: 60%;
}
#gr1:hover{
    z-index: 1;
}
#gr2{
    position: absolute;
    left: 65%;
}
#gr2:hover{
    z-index: 1;
}
#gr3{
    position: absolute;
    left: 70%;
}
#gr3:hover{
    z-index: 1;
}
#gr4{
    position: absolute;
    left: 75%;
}
#gr4:hover{
    z-index: 1;
}
.group1 a{
    border: 1px solid none;
    padding: 6px ;
    border-radius: 50%;
    text-decoration: none;
    background-color: #e7ebf3;
    position: absolute;
    left: 80%;
    top: 0%;
}
.group1 a:hover{
    z-index: 1;
}
.out a{
    border: 1px solid none;
    text-decoration: none;
    padding: 7px 100px;
    /* margin-left: 20px; */
    border-radius: 20px;
    background-color: #4680FF;
    color: white;
}
.out a:hover{
    background-color: #305fc4;
    color: white;
}
.earning{
    height: 200px;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}
.earning1{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.earning2{
    height: 120px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    background-color: rgb(250, 248, 248);
    border-radius: 5px;
    padding: 5px;
}
.earning3{
    width: 60%;
    height: 120px;
    padding: 0%;
}
.earning4 p{
    font-size: 20px;
    padding-top: 30px;
    font-weight: bold;
}
.rate{
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
}
.pr{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}
.pro4 li{
    padding: 10px 10px;
    transition: all 0.7s;
    /* margin-left: 20px; */
}
.pro4 li:hover{
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
}
.task1{
    width: 100%;
    text-align: center;
}
#task{
    border: 1px solid ;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 20px;
   display: block;
    color: white;
    background-color: #4680FF;
    width: 100%;
}
#task:hover{
    background-color: #305fc4;
}
.project{
    padding: 20px;
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
}
.project1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
}
.project2{
    display: flex;
}
.project3{

    display: flex;
    /* height: 60px; */
    padding-top: 0px;
    justify-content: space-around;
}
.project8{
    /* width: 35%; */
    display: flex;
    /* height: 60px; */
    padding-top: 0px;
    justify-content: space-around;
}
.ject{
    /* width: 30%; */
    display: flex;
    /* height: 60px; */
    padding-top: 0px;
    justify-content: space-around;
}
.project4{
    height: 60px;
}
.project9{
    width: 100%;
    text-align: center;
}
.project9 a{
    border: 1px solid none;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background-color: #4680FF;
    border-radius: 20px;
    width: 100%;
    display: block;
}
.total
{
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
}
.total1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total2{
    display: flex;
    /* justify-content: space-around; */
}
.total2 a{
    /* padding-top: 25px;
    font-size: 20px; */
    padding: 10px 10px;
    margin: 0px 15px;
    margin-top: 19px;
    margin-bottom: 16px;
    padding-bottom: 2px;
    border: 1px solid none;
    border-radius: 20px;
    text-decoration: none;
    background-color: #edf1fa;
}
.total4 img{
    height: 30px;
    border-radius: 50%;
}
#i-1{
    position: absolute;
    top: 0%;
    left: 0px;
}
#i-1:hover{
    z-index: 1;
}
#i-2{
    position: absolute;
    top: 0%;
    left: 17px;
}
#i-2:hover{
    z-index: 1;
}
#i-3{
    position: absolute;
    top: 0%;
    left: 30px;
}
#i-3:hover{
    z-index: 1;
}
#i-4{
    position: absolute;
    top: 0%;
    left: 50px;
}
#i-4:hover{
    z-index: 1;
}
.total5 i{
    padding: 10px;
    background-color: #4680FF;
    border-radius: 50%;
    color: white;
    font-size: 20px;
}
.pending{
    background-color: white;
    margin-left: 20px;
    margin-top: 15px;
    padding: 15px;
}
.tion{
    display: flex;
    list-style: none;
    align-items: center;
}
.tion li a::after{
    content: " ";
    position: absolute;
    border-bottom: 2px solid  #4680FF;
    width: 90%;
    top: 100%;
    left: 0%;
    visibility: hidden;
    transition: all 0.5s;
}
.tion li a:hover::after{
    visibility: visible;
}
.tion li a{
    font-size: 16px ;
    padding: 10px 15px;
    text-decoration: none;
    color:#606c77 ;
    font-weight: bold;
    transition: all 0.5s;
    position: relative;
}
.tion li a:hover{
    color: #4680FF;
}
.pending4{
    display: flex;
    height: 45px;
    justify-content: space-between;
}
.ing{
    display: flex;
    justify-content: space-around;
}
#view{
    border: 1px solid gray;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    padding-top: 8px;
    color: rgb(85, 85, 85);
    transition: all 0.5s;
}
#view:hover{
    background-color: #606c77;
    color: white;
}
#new{
    border: 1px solid ;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    padding-top: 8px;
    background-color: #4680FF;
    color: white;
    transition: all 0.5s;
}
#new:hover{
    background-color: #305fc4;
}
.income{
    margin-top: 15px;
    background-color: white;
    padding: 25px ;
}
.income2{
    height: 360px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.income3{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.income4{
    background-color: whitesmoke;
    width: 40%;
    padding: 15px;
}
@media (max-width: 586px) {
    #sea{
        display: none;
    }
    #sea1{
       display: none;
    }
    .left{
        display: none;
    }
}
